@{
    ViewData["Title"] = "Admin Dashboard";
}
<h2>Admin Dashboard</h2>
<ul>
    <li><a href="/admin/manage-users">Quản lý tài khoản</a></li>
    <li><a href="/admin/manage-courses">Quản lý môn học</a></li>
    <li><a href="/admin/manage-students">Quản lý sinh viên</a></li>
</ul>
